<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pmarks.chromadoze"
    android:versionCode="12"
    android:versionName="3.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/chromadoze_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".ChromaDoze"
            android:label="@string/app_name"
            android:launchMode="singleTask" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".NoiseService" />
    </application>
</manifest>